    /* General Page  */
#serviceButtonContainer {
    display: grid;
    grid-template: auto auto / auto auto;
    grid-gap: .5em;
    padding: 0.5em;
    width: 85%;
    height: 30vh;

}

#serviceButtonContainer .serviceButton {
    height: 100%;
    position: relative;
}

#serviceButtonContainer button {
    height: 100%;
    width: 100%;
}

#serviceButtonContainer .serviceButtonOverlay {
    position: absolute;
    top: 0;
    display: grid;
    place-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
}
/* 
#serviceButtonContainer .serviceButtonOverlay p {
    margin: auto;
}
#IGLogo {
    font-size: 200%;
}

#serviceText {
    font-size: 150%;
} */

/* Service Cards
.pricingCard {
    position: absolute;
    width: 40%;
    height: 50%;
}

.pricingCard h2 {
    font-size: 175%;
    color: bbeo;
} */

    /* .bespokeCard {
        position: absolute;
        width: 40%;
        height: 50%;
    }

    .serviceListItem {
        font-size: larger;
        text-align: left;
    }

    .servicePrice {
        font-size: 150%;
    }

    #PNP {
        text-align: center;
    }

    #bespokeText {
        font-size: 170%;
        margin: 2rem;
    } */

@media screen and (min-width:610px) {
    #serviceButtonContainer {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        width: 95%;
        height: 95%;
    }
}